page-login {

}
.list-item-login .input-wrapper .label{
  background: #fff !important;
  color:#000;

}
.login-container{


}
.login-list-container{
  margin-top:5rem !important;
  margin-bottom:3rem !important;
}
.login-btn{
  display: block !important;
  width:100%;
}
.login-btn span{
  color:#fff !important;
}
