.bg-pic{
  background-image:url("../../assets/imgs/bg.jpg");
  background-size: 100% 100%;
  min-height: 100%;
}
.list-menu{
  padding:2rem;
  margin-top: 40%;
}
.list-menu .list-item{
  margin-top: 0.6rem;
  border:5px solid #fff !important;
  background: #000;
  color:#fff;
}
.list-item .input-wrapper .label{
  background: #000 !important;
}
ion-header{
  //display: none !important;
}
.op-row{
  padding: 3rem;
  height: 3rem;
  line-height: 0;
}
.top{

  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;

}
.arrow-position {
  padding-left: 1.3rem;
}
.my-arrow-forward{
  color:#fff;
  float:right;
  padding-right:1rem;
}
